<nav class="navbar navbar-expand -sm bg-">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" href="/usuario">USER</a>
            <!-- Trocar USER por um icone arredondado de usuario -->
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="navbar-item">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownClienteButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 5px;">
                    Clientes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownClienteButton">
                    <a class="dropdown-item" href="/cliente/lista">Listagem</a>
                    <a class="dropdown-item" href="/cliente/novo">Cadastro</a>
                    <a class="dropdown-item" href="#">Relatório</a>
                </div>
            </div>
        </li>
        <li class="navbar-item">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownAparelhoButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 5px;">
                    Aparelhos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAparelhoButton">
                    <a class="dropdown-item" href="/aparelho/lista">Listagem</a>
                    <a class="dropdown-item" href="/aparelho/novo">Cadastro</a>
                    <a class="dropdown-item" href="#">Relatório</a>
                </div>
            </div>
        </li>
        <li class="navbar-item">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownOSButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 5px;">
                    Ordens de Serviço
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownOSButton">
                    <a class="dropdown-item" href="#">Listagem</a>
                    <a class="dropdown-item" href="#">Cadastro</a>
                    <a class="dropdown-item" href="#">Relatório</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMarcaButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="margin: 5px">
                            Marcas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMarcaButton">
                    <a class="dropdown-item" href="/marca/lista">Listagem</a>
                    <a class="dropdown-item" href="/marca/novo">Cadastro</a>
                    <a class="dropdown-item" href="#">Relatório</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownTipoAparelhoButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="margin: 5px">
                            Tipos Aparelhos
                        </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="/tipo/lista">Listagem</a>
                    <a class="dropdown-item" href="/tipo/novo">Cadastro</a>
                    <a class="dropdown-item" href="#">Relatório</a>
                </div>
            </div>
        </li>
        
    </ul>
</nav>
<br>
