<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aparelhos cadastrados</title>
</head>
<body>
    <h1>Lista de ordens de serviço cadastradas aparece aqui</h1>
</body>
</html>